.wrap {
  max-width: 600px;
  margin: 0 auto 3em;
}

.wrap2 {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.thumb,
.iplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iplayer {
  z-index: 1;
}

.thumb {
  z-index: 2;
  object-fit: cover;
  background: #424251;
}

.thumb:hover {
  cursor: pointer;
}

.yugo-navi {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 1em 0.5em 1px;
  background: #00000066;
  border: 1px solid #fe6436;
  border-radius: .25rem;
}

.yugo-navi p {
  margin: 0.8rem 1rem 0.8rem;
}

.yugo-navi .btn {
  display: inline-block;
  margin: .1rem;
  padding: .25rem .75rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700 !important;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
}

.yugo-navi .btn:hover {
  filter: brightness(0.8);
  color: #fff;
}

.fuki {
  position: absolute;
  inline-size: 4rem;
  block-size: 4rem;
  padding: 1rem;
  border: 1px solid #fe6436;
  top: -3.5rem;
  left: 2rem;
  border-radius: 50%;
}

.fuki:after {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  width: 20px;
  height: 1px;
  box-sizing: border-box;
  background-color: #fe6436;
  rotate: 50deg;
}

.naiyo {
  position: absolute;
  top: calc(0% - 40px);
  left: 6px;
  text-align: center;
  line-height: 1.1;
  color: #ffc869;
  rotate: -10deg;
  font-weight: 700;
}

/* Hint -------*/

details .babo:nth-of-type(2) {
  margin-left: 2rem;
}

details .babo:nth-of-type(3) {
  margin-left: 3rem;
}

details .babo:nth-of-type(4) {
  margin-left: 1rem;
}

details .babo:nth-of-type(5) {
  margin-left: 2rem;
}

details .babo:nth-of-type(6) {
  margin-left: 3rem;
}

.close-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  background-color: #055935;
  color: #acffa3;
  border-bottom: 0 !important;
}

.close-details:hover {
  background-color: #f46013;
}

.close-details.right {
  left: auto;
  right: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.close-details p {
  rotate: 45deg;
  font-size: small;
  position: relative;
  top: .5rem;
  right: .5rem;
  text-align: center;
}

@media (hover: none) {
  .yg_nv {
    margin: 5rem 0;
  }

  details p {
    font-size: .937rem;
  }
}