body.dark {
    /* -----　🎨 Color　----- */
    --my-header-bg: #100d0b;
    --my-orange: #fd6f6b;
    --my-lorange: #ffa185;
    --my-dark-orange: #b02f00;
    --my-green: #198754;
    --my-blue: #a8fcff;
    --my-lblue: #c4e0ff;
    /* body-bg */
    --surface: #181210;
    --on-surface: #ede0dc;

    /* -----　✍ Typograpy　　----- */
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --size-12px: 0.75rem;
    --size-13px: 0.8125rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-18px: 1.125rem;
    --size-19px: 1.1875rem;

    /* -----　　🏠 Base　　　----- */
    font-size: 1rem;
    line-height: 1.6;
    counter-reset: h2-counter;
}

/* ========== 🧭 Navigation ========== */
nav {
    background-color: var(--my-header-bg) !important;
}

nav.s {
    border-bottom: 1px solid #411515;
}

nav.l {
    border-right: 1px solid #411515;
}

nav.l a {
    padding: .5rem;
    min-width: 100%;
}

nav.l a:hover {
    border-radius: 30%;
    background-color: var(--my-dark-orange);
}

nav.l svg {
    border-radius: 0;
}

nav.l span {
    font-size: var(--size-13px);
}

/* ==========　 🍖 Main 　========== */
section.grid {
    ---gap: 0;
    /*beer.css reset*/
}

article {
    display: flex;
    background: #2a3a4f !important;
    border: 1px solid #ef7d3c !important;
    position: relative;
    height: 120px;
    overflow: hidden;
}

.img-unit {
    position: relative;
    width: 100px;
    flex-shrink: 0;
}

.img-unit2 {
    width: 120%;
    padding-top: 120%;
    height: 0;
}

.img-unit3 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tags-unit {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(6rem * 2 + .5rem);
}

.tags-unit .chip {
    font-size: var(--size-12px);
    font-weight: 400;
    block-size: 1rem;
    min-width: 2rem;
    padding: .3rem;
    margin: 0;
    background-color: #6164ff;
    color: #fff;
    border: 1px solid #2c2d63;
}

.text-unit {
    border-radius: 0;
    flex: 1 1 auto;
    margin: .5rem .5rem .5rem 30px;
}

.text-unit h5 {
    color: #d1ff28;
    font-size: var(--size-15px);
    margin-top: .5rem;
}

time {
    text-align: right;
}

.text-unit p,
.text-unit time {
    font-size: var(--size-13px);
    margin-top: .5rem;
    overflow: hidden;
}

.full-text {
    display: none;
}

h1,
h2,
h3 {
    display: block;
    text-align: center;
}

h1 {
    font-size: calc(1rem + 1.8vw);
    font-weight: 700;
    margin-bottom: 2rem;
}

h2,
h3 {
    position: relative;
    font-weight: 700;
    border-radius: .2rem;
}

h2 {
    /*font-size: calc(1rem + .9vw);
    color: #b7ffe0;
    background-image: radial-gradient(circle, #055733 33%, #2f9fff26);
    border: 1px solid #00693c;
    padding: .5rem 3rem;
    margin: 0 auto 1.8rem;
    counter-reset: h3-counter;*/
    font-size: calc(1rem + 1.2vw);
    color: #a8ffda;
    padding: 1rem 3rem;

}

h3 {
    /*font-size: calc(1rem + .6vw);
    color: #b2e9ff;
    background-image: radial-gradient(circle, #4e44a3 33%, #5837ff1c);
    border: 1px solid #5a4fa9;
    padding: 5px 4rem;
    margin: 4rem auto 1.8rem;*/
    font-size: calc(1rem + .6vw);
    padding: 0 3rem;

}

h2::before,
h3::before {
    position: absolute;
    left: 1rem;
    margin-top: .2rem;
}

h2::before {
    counter-increment: h2-counter;
    content: counter(h2-counter)".";
    top: 1rem;
}

h3::before {
    counter-increment: h3-counter;
    content: counter(h2-counter)"-" counter(h3-counter)".";
}

.h1-wrapp {
    aspect-ratio: 2 / 1;
    background-image: url(../img/h1-cloud.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.h2-wrapp {
    aspect-ratio: 15 / 3;
    background-image: url(../img/h2-roll.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 1rem;
    margin: 10rem 0 2rem;
    counter-reset: h3-counter;
}

.h3-wrapp {
    aspect-ratio: 15 / 2;
    background-image: url(../img/h3-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1rem 0 1rem;
    margin: 10rem 0 2rem;
}

h4 {
    color: #80d180;
    font-size: calc(1rem + .9vw);
    font-weight: 700;
    margin: 4rem auto 1.5rem;
}

.me-3 {
    margin-right: 1rem;
}

.mt-5 {
    margin-top: 2rem;
}

.fw-bold {
    font-weight: 700;
}

.nowrap {
    white-space: nowrap;
}

.article-link {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 30px;
}

.article-link:hover {
    background-image: repeating-linear-gradient(53deg, #fe6dff40, #fe6dff40 1px, transparent 1px, transparent 6px)
}

/* ========== Tags ========== */
span {
    border-radius: 0;
}

hr {
    height: 1px;
    margin: .5rem 0;
    border: 0;
    background-color: #ffffff36;
}

.jel {
    margin: 0 .25rem;
    border-radius: 0;
    vertical-align: -.1rem;
}

.boya .jel {
    opacity: 0;
}

.boya.active .jel {
    opacity: 1;
}

details {
    border: 1px solid #ffffff36;
    border-radius: .2rem;
    margin-left: auto;
    margin-right: auto;
}

summary {
    display: list-item;
    cursor: pointer;
    font-size: calc(1rem + .1vw);
    font-weight: bold;
    padding: 10px;
    background: #0000003d;
    border-radius: .2rem;
}

img.sharp {
    filter: url(./filter-sharp.svg#unsharp);
}

.my-yellow,
.boya.active .my-yellow {
    color: #ffaf17;
}

.my-red,
.boya.active .my-red {
    color: #ff876d;
}

.my-blue,
.boya.active .my-blue {
    color: #85d7ff;
}

.my-orange,
.boya.active .my-orange {
    color: var(--my-lorange);
}

.my-green,
.boya.active .my-green {
    color: #0bd900;
}

.my-lblue,
.boya.active .my-lblue {
    color: var(--my-lblue);
}

.my-brown {
    color: #ffd7bf;
}

.my-blue,
.my-yellow,
.my-red,
.my-green,
.my-orange,
.my-brown {
    margin: 0 .2rem;
    font-size: 1.1rem;
}


/* ========== 📝 Txt-content ========== */

.txt-content p {
    font-size: calc(1rem + .2vw);
    margin: 1.5rem 0;
}

.txt-content p,
blockquote {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

blockquote {
    border-left: 5px solid var(--my-lblue);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: .5rem 0 .5rem 1rem;
    color: var(--my-lblue);
    background-color: #00000045;
}

blockquote>p:first-child {
    margin-top: 1rem;
}

blockquote>p:last-of-type {
    margin-bottom: 0;
}

cite {
    display: block;
    text-align: right;
    font-size: calc(1rem - .1vw);
    margin-right: 1rem;
}

cite:before {
    content: '\2014' '\2014' '\2014' ' ';
}

blockquote.nocite>p:last-of-type {
    margin-bottom: 1rem;
}

.lbd {
    border-left: 5px solid #ffffff2e;
    margin-left: 1em;
    padding-top: .5rem;
}

.lbd li {
    margin-left: 2rem;
    border-bottom: 1px solid #ffffff1f;
}

.lbd li:first-of-type p {
    margin-top: 0;
}

.txt-content li p {
    margin: .8rem 1rem .8rem 0;
}

.txt-content a {
    display: inline;
    color: #d0ffda;
    border-bottom: 1px solid #d0ffda9f;
}

.txt-content a:hover {
    color: var(--my-lorange);
    border-bottom: 1px solid var(--my-lorange);
}

.txt-content ruby {
    vertical-align: 0;
}

.txt-content .mt-4 {
    margin-top: 3rem;
}

.txt-content .mt-5 {
    margin-top: 4rem;
}

.talk {
    padding-left: 1rem;
    text-indent: -1rem;
}

.num {
    font-feature-settings: "palt";
    font-family: "Noto Sans JP", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: -0.05em;
}

.nobr {
    white-space: nowrap;
}

.attention {
    font-weight: 700;
    border: 3px solid var(--my-orange);
    border-radius: .5rem;
}

.txt-content b,
.txt-content strong {
    font-weight: 700;
    padding: 0 3px;
}

.b-strong,
.txt-content strong {
    color: #a79cff;
    background: #00000075;
    border-radius: 0;
}

.txt-content strong {
    font-size: calc(1rem + .5vw);
    vertical-align: -1px;
}

.font-small,
p.font-small {
    font-size: calc(.8rem + .3vw);
}

.font-smaller,
p.font-smaller {
    font-size: calc(.5rem + .3vw);
}

.font-large,
p.font-large {
    font-size: calc(1rem + .3vw);
}

.font-larger,
p.font-larger {
    font-size: calc(1rem + .6vw);
}

.zukai {
    margin-top: .625rem;
    border-radius: .2rem;
    block-size: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
}

.babo-unit {
    max-inline-size: 500px;
    margin-left: auto;
    margin-right: auto;
}

.babo-char {
    display: flex;
    align-items: center;
}

.babo {
    display: block;
    position: relative;
    margin: .625rem 0 0 .937rem;
    padding: 0.5em .625rem;
    min-width: 7rem;
    max-width: 100%;
    background: #332519;
    box-sizing: border-box;
    border-radius: .625rem;
    align-items: center;
}

.bg-brown {
    background-image: radial-gradient(circle, #794c1e 33%, #633112);
}

.bg-blue {
    background: #2e4967;
}

.babo::before {
    content: "";
    position: absolute;
    margin-top: -12px;
    border: 12px solid transparent;
    top: 50%;
    left: -24px;
    rotate: 0deg;
    border-right: 12px solid #332519;
}

.bg-brown::before {
    border-right: 20px solid #633112;
}

.bg-blue::before {
    border-right: 20px solid #2e4967;
}

.babo p {
    color: hsl(14.12deg 32.08% 93%);
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.mokuji,
.mokuji button,
.mokuji svg {
    inline-size: 3.2rem !important;
    block-size: 3.2rem;
}

.mokuji {
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
    background-color: transparent !important;
}

.mokuji button {
    display: block;
    background-color: #00000099;
    border: 1px solid #ffffff24;
}

.mokuji svg {
    border-radius: 0;
    padding: 5px;
    color: #a79cff;
}

#dialog p {
    font-size: 1rem;
    margin: 1rem auto;
    border-radius: 0;
}

#dialog a {
    text-decoration: none;
    border: 0;
}


/* ========== 💻 PC & Media ========== */
@media only screen and (min-width: 601px) {
    section.grid {
        ---gap: 1rem;
    }

    article {
        display: block;
    }

    .img-unit {
        width: 100%;
    }

    .img-unit2 {
        /* サムネ比率 */
        width: 100%;
        padding-top: 100%;
        height: 0;
        padding-top: 56.25%;
    }

    article {
        height: auto;
    }

    *+article {
        margin-block-start: 0;
    }

    .tags-unit {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;
        border-radius: 0;
        max-width: 100%;
    }

    .tags-unit .chip {
        font-size: var(--size-14px);
    }

    .text-unit {
        margin: .5rem 1rem;
    }

    .text-unit h5 {
        font-size: var(--size-19px);
        margin-top: .5rem;
    }

    .text-unit p,
    .text-unit time {
        font-size: var(--size-15px);
        margin-top: 1rem;
    }

    .full-text {
        display: inline;
    }

    .me-md-5 {
        margin-right: 3rem !important;
    }

    blockquote {
        padding: .5rem 0 .5rem 1.5rem;
    }

    .txt-content li p {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    main.responsive {
        padding-block-start: 5rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    main.responsive {
        padding-inline-start: 6rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 75vw;
    }

    .h2-wrapp,
    .h3-wrapp {
        padding: 1rem 5rem 0;
    }
}

@media only screen and (min-width: 993px) {
    main.responsive {
        padding-inline-start: 6rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 80%;
    }

    .h1-wrapp {
        aspect-ratio: 8 / 1;
        background-size: contain;
    }

    .h2-wrapp {
        padding: 4rem 5rem 0;
    }

    .h3-wrapp {
        padding: 2rem 5rem 0;
    }
}