body.dark {
    /* -----　🎨 Color　----- */
    --my-header-bg: #100d0b;
    --my-orange: #fd6f6b;
    --my-lorange: #ffa185;
    --my-dark-orange: #b02f00;
    --my-green: #198754;
    --my-lgreen: #d5ffd3;
    --my-blue: #a8fcff;
    --my-lblue: #d2fafd;
    --my-lblue-l: #a1ffc5;
    /* body-bg */
    --surface: #181210;
    --on-surface: #ede0dc;

    /* -----　✍ Typograpy　　----- */
    --font: "Verdana", "Noto Sans JP", "Yu Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --size-12px: 0.75rem;
    --size-13px: 0.8125rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-18px: 1.125rem;
    --size-19px: 1.1875rem;

    /* -----　　🏠 Base　　　----- */
    font-size: 1rem;
    font-size: clamp(0.96rem, 0.913rem + 0.23vw, 1.1rem);
    line-height: 1.8;
    letter-spacing: 0.06em;
    counter-reset: h2-counter;
}

/* ========== 🧭 Navigation ========== */
.menu-nav {
    background-color: var(--my-header-bg) !important;
}

nav.s {
    border-bottom: 1px solid #411515;
}

nav.l {
    border-right: 1px solid #411515;
}

nav.l a {
    padding: .5rem;
    min-width: 100%;
}

nav.l a:hover {
    border-radius: 30%;
    background-color: var(--my-dark-orange);
}

nav.l svg {
    border-radius: 0;
}

nav.l span {
    font-size: var(--size-13px);
}

/* ==========　 🍖 main-card 　========== */
section.grid {
    ---gap: 0;
    /*beer.css reset*/
}

.main-card {
    display: flex;
    background: #2a3a4f !important;
    border: 1px solid #ef7d3c !important;
    position: relative;
    height: 120px;
    overflow: hidden;
}

.img-unit {
    position: relative;
    width: 100px;
    flex-shrink: 0;
}

.img-unit2 {
    width: 120%;
    padding-top: 120%;
    height: 0;
}

.img-unit3 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tags-unit {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(6rem * 2 + .5rem);
}

.tags-unit .chip {
    font-size: var(--size-12px);
    font-weight: 400;
    block-size: 1rem;
    min-width: 2rem;
    padding: .2rem .3rem;
    margin: 0;
    background-color: #6164ff;
    color: #fff;
    border: 1px solid #2c2d63;
}

.text-unit {
    border-radius: 0;
    flex: 1 1 auto;
    margin: .1rem .3rem .1rem 30px;
}

.text-unit h5 {
    color: #d1ff28;
    font-size: var(--size-15px);
    margin-top: .5rem;
}

time {
    text-align: right;
}

.text-unit p,
.text-unit time {
    font-size: var(--size-13px);
    margin-top: .5rem;
    overflow: hidden;
}

.full-text {
    display: none;
}

h1,
h2,
h3 {
    display: block;
    text-align: center;
}

h1 {
    font-size: calc(1rem + 1.8vw);
    font-weight: 700;
    margin-bottom: 2rem;
}

h2,
h3 {
    position: relative;
    font-weight: 700;
    border-radius: .2rem;
}

h2 {
    font-size: calc(1rem + 1.2vw);
    color: #a8ffda;
    padding: 1rem 3rem;
    z-index: 1;
}

h3 {
    font-size: calc(1rem + .6vw);
    padding: 0 3rem;
}

h2::before,
h3::before {
    position: absolute;
    left: 2rem;
    margin-top: .2rem;
}

h2::before {
    counter-increment: h2-counter;
    content: counter(h2-counter)".";
    top: 1rem;
}

h2.no-count::before,
h3.no-count::before {
    content: ""
}

h3::before {
    counter-increment: h3-counter;
    content: counter(h2-counter)"-" counter(h3-counter)".";
}

.h1-wrapp {
    aspect-ratio: 2 / 1;
    background-image: url(https://momato-0.github.io/play-with-the-monster/img/h1-cloud.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.h2-wrapp {
    aspect-ratio: 15 / 3;
    position: relative;
    margin: 10rem 0 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    counter-reset: h3-counter;
}

.h2-wrapp::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://momato-0.github.io/play-with-the-monster/img/h2-roll.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
}

.h3-wrapp {
    aspect-ratio: 15 / 2;
    background-image: url(https://momato-0.github.io/play-with-the-monster/img/h3-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1rem 0 1rem;
    margin: 10rem 0 2rem;
}

h4 {
    color: #80d180;
    font-size: calc(1rem + .9vw);
    font-weight: 700;
    margin: 4rem auto 1.5rem;
}

.article-link {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 30px;
}

.article-link:hover {
    background-image: repeating-linear-gradient(53deg, #fe6dff40, #fe6dff40 1px, transparent 1px, transparent 6px)
}

/* ========== Tags ========== */

span {
    border-radius: 0;
}

a,
b,
i,
span {
    vertical-align: unset;
}

hr {
    height: 1px;
    margin: .5rem 0;
    border: 0;
    background-color: #ffffff33;
}

.jel {
    margin: 0 .3rem;
    border-radius: 0;
    vertical-align: -3px;
}

.boya {
    background: #666;
}

.boya,
.boya span {
    color: transparent;
    user-select: none;
}

.boya.active {
    background: none;
}

.boya.active,
.boya.active span {
    color: hsl(14.12deg 32.08% 93%);
    user-select: text;
    cursor: default;
}

.boya-wrap {
    margin-left: 1rem;
}

.dboya,
.boya-zukai {
    display: block;
    filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(5271%) hue-rotate(170deg) brightness(89%) contrast(91%);
}

.dboya:hover,
.boya-zukai.active {
    filter: brightness(1);
}

.boya .jel {
    opacity: 0;
}

.boya.active .jel {
    opacity: 1;
}

details {
    border: 1px solid #ffffff36;
    border-radius: .2rem;
    margin-left: auto;
    margin-right: auto;
    transition: max-height 0.3s, padding 0.3s;
    position: relative;
}

details[open] {
    max-height: 1000vh;
    padding: .625rem;
}

details[data-visited="true"] summary {
    color: #caffb4;
}

/* ======= Close Button ======= */
.close-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.2rem;
    height: 3.2rem;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    background-color: #055935;
    color: #acffa3;
    border-bottom: 0 !important;
}

.close-details:hover {
    background-color: #f46013;
}

.close-details.right {
    left: auto;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.close-details p {
    rotate: 45deg;
    font-size: small;
    position: relative;
    top: .5rem;
    right: .5rem;
    text-align: center;
}

/*spacer*/
details>*:nth-last-child(3) {
    margin-bottom: 3.2rem;
}

details h4,
details h5 {
    margin-left: .5rem;
}


.color-change details:nth-child(2n) {
    background-color: #99757511;
}

summary {
    display: list-item;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    background: #0000003d;
    border-radius: .2rem;
}

/*beer.css*/
summary.grid,
.gap-small {
    ---gap: .3rem;
}

img.sharp {
    filter: url(./filter-sharp.svg#unsharp);
}

.my-yellow,
.boya.active .my-yellow {
    color: #ffaf17;
}

.my-red,
.boya.active .my-red {
    color: #ff876d;
}

.my-blue,
.boya.active .my-blue {
    color: #85d7ff;
}

.my-orange,
.boya.active .my-orange {
    color: var(--my-lorange);
}

.my-green,
.boya.active .my-green {
    color: #0bd900;
}

.my-lblue,
.boya.active .my-lblue {
    color: var(--my-lblue);
}

.my-brown {
    color: #ffd7bf;
}

.my-lgreen {
    color: var(--my-lgreen);
}

.my-b {
    color: var(--my-lblue-l);
    background-color: #00000082;
}

span.my-b {
    margin: 0 3px;
    padding: 0 3px;
}

.my-blue,
.my-yellow,
.my-red,
.my-green,
.my-orange,
.my-brown {
    margin: 0 .2rem;
    font-size: 1.1rem;
}

.dash-lblue {
    filter: brightness(0) saturate(100%) invert(91%) sepia(7%) saturate(5150%) hue-rotate(181deg) brightness(107%) contrast(101%);
}

.pankuz p {
    margin-top: 0;
    margin-left: 0;
}

.pankuz a {
    color: var(--my-lgreen);
}

/* ========== 📝 Txt-content ========== */

button {
    font-size: calc(1rem + .1vw);
}

:is(.button, button):not(.chip):hover,
:is(.button, button):not(.chip):hover {
    border-radius: .5rem !important;
}

p {
    margin: 1.5rem 0;
}

td p {
    margin: .5rem 0;
}

li p {
    margin: 0;
}

li p+p {
    margin-top: 1rem;
}

blockquote p {
    margin: 1.8rem .5rem 1.8rem 0;
}

p,
li,
blockquote,
table {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}



blockquote {
    border-left: 5px solid var(--my-lblue);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: .3rem 0 .3rem 1rem;
    color: var(--my-lblue);
    background-color: #00000045;
}

blockquote>p:first-child {
    margin-top: 1rem;
}

blockquote>p:last-of-type {
    margin-bottom: 0;
}

blockquote.nocite>p:last-of-type {
    margin-bottom: 1rem;
}

cite {
    display: block;
    text-align: right;
    font-size: var(--size-13px);
    margin-right: 1rem;
}

cite:before {
    content: url("./img/dash.svg");
    vertical-align: middle;
    filter: brightness(0) saturate(100%) invert(91%) sepia(7%) saturate(5150%) hue-rotate(181deg) brightness(107%) contrast(101%);
}

.lbd {
    border-left: 5px solid #ffffff2e;
    margin-left: 1rem;
}

.lbd li,
.bd li {
    border-bottom: 1px solid #ffffff33;
}

:is(ul, ol) li p:first-of-type,
:is(ul, ol) ul li p:first-of-type,
:is(ul, ol) ol li p:first-of-type {
    margin-top: 0;
}

summary+div.grid,
summary+div.grid p:first-of-type,
summary+div.grid h4:first-of-type,
summary+* li:first-of-type,
summary+h4 {
    margin-top: 0;
}

details>*:nth-child(2) {
    margin-top: 2.6rem !important;
}

p.lbd {
    padding-left: 1.5rem;
}

li {
    margin-left: 2.2rem;
    padding: 1rem 0 1rem .5rem;
}

li:first-of-type {
    padding-top: 0;
}

p a {
    display: inline;
    color: #d0ffda;
    border-bottom: 1px solid #d0ffda9f;
}

p a:hover {
    color: var(--my-lorange);
    border-bottom: 1px solid var(--my-lorange);
}

ruby {
    vertical-align: 0;
}

.mb-0,
p:has(+blockquote.mt-1) {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .5rem !important;
}

.mt-3 {
    margin-top: 2rem !important;
}

.mt-4 {
    margin-top: 3.5rem !important;
}

.mt-5 {
    margin-top: 4rem !important;
}

.mb-5 {
    margin-bottom: 4rem;
}

.talk {
    padding-left: 1em;
    text-indent: -1em;
}

.nobr {
    white-space: nowrap;
}

.attention {
    border: 3px solid var(--my-orange);
    border-radius: .3rem;
}

.fw-700,
b,
strong {
    font-weight: 700;
}

strong {
    color: #ffae8e;
    background: #00000082;
    border-radius: 0;
    vertical-align: 0;
    margin: 0 3px;
    padding: 0 3px;
}

.font-small,
p.font-small,
:is(blockquote.font-small, div.font-small) p,
:is(ul.font-small, ol.font-small) li {
    font-size: .9rem;
    font-size: clamp(0.9rem, 0.873rem + 0.13vw, 0.98rem);
}

.font-smaller,
p.font-smaller {
    font-size: var(--size-13px);
}

.font-large,
p.font-large {
    font-size: calc(1rem + .3vw);
}

.font-larger,
p.font-larger {
    font-size: calc(1rem + .6vw);
}

.chip {
    vertical-align: text-bottom;
    border: 0;
    margin: 0 2px;
    block-size: 1rem;
    min-inline-size: 1rem;
}

.tooltip.max {
    text-align: left;
    z-index: 101;
    padding: .5rem .5rem 1rem;
    inline-size: 17em;
}

.tooltip.max p {
    font-size: .85rem;
    margin: .5rem 0 0;
    line-height: 1.5;
    letter-spacing: 0;
}

.tip-hr p:nth-child(2n+3)::before {
    content: "――――";
    display: block;
    text-align: center;
    font-size: .5rem;
    margin: 0;
}

.tip-hr p.no-hr::before {
    content: "";
}

.zukai {
    margin-top: .625rem;
    border-radius: .2rem;
    block-size: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
}

.mini-icon,
.dash {
    margin: 0 .4rem;
}

.mini-icon,
.han {
    filter: invert(1);
}

.emoji {
    vertical-align: -3px;
}

.dash {
    inline-size: 2em;
    block-size: 1em;
}

.babo-unit {
    max-inline-size: 500px;
    margin-left: auto;
    margin-right: auto;
}

.babo-char {
    display: flex;
    align-items: center;
}

.babo {
    display: block;
    position: relative;
    margin: .625rem 0 0 .937rem;
    padding: 0.5em .625rem;
    min-width: 7rem;
    max-width: 100%;
    background: #332519;
    box-sizing: border-box;
    border-radius: .625rem;
    align-items: center;
}

.bg-brown {
    background-image: radial-gradient(circle, #794c1e 33%, #633112);
}

.bg-blue {
    background: #2e4967;
}

.babo::before {
    content: "";
    position: absolute;
    margin-top: -12px;
    border: 12px solid transparent;
    top: 50%;
    left: -24px;
    rotate: 0deg;
    border-right: 12px solid #332519;
}

.bg-brown::before {
    border-right: 20px solid #633112;
}

.bg-blue::before {
    border-right: 20px solid #2e4967;
}

.babo p {
    color: hsl(14.12deg 32.08% 93%);
    margin: 0;
    padding: 0;
}

.mokuji,
.mokuji button,
.mokuji svg {
    inline-size: 3.2rem !important;
    block-size: 3.2rem;
}

.mokuji {
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
    background-color: transparent !important;
}

.mokuji button {
    display: block;
    background-color: #00000099;
    border: 1px solid #ffffff24;
}

.mokuji svg {
    border-radius: 0;
    padding: 5px;
    color: #a79cff;
}

#dialog p {
    font-size: 1rem;
    margin: 1rem auto;
    border-radius: 0;
}

#dialog a {
    text-decoration: none;
    border: 0;
}


/* ========== 💻 PC & Media ========== */
/* M & L */
@media only screen and (min-width: 601px) {
    section.grid {
        ---gap: 1rem;
    }

    .main-card {
        display: block;
    }

    .img-unit {
        width: 100%;
    }

    .img-unit2 {
        /* サムネ比率 */
        width: 100%;
        padding-top: 100%;
        height: 0;
        padding-top: 56.25%;
    }

    .main-card {
        height: auto;
    }

    *+.main-card {
        margin-block-start: 0;
    }

    .tags-unit {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;
        border-radius: 0;
        max-width: 100%;
    }

    .tags-unit .chip {
        font-size: var(--size-14px);
    }

    .text-unit {
        margin: .5rem 1rem;
    }

    .text-unit h5 {
        font-size: var(--size-19px);
        margin-top: .5rem;
    }

    .text-unit p,
    .text-unit time {
        font-size: var(--size-15px);
        margin-top: 1rem;
    }

    .full-text {
        display: inline;
    }

    .me-md-5 {
        margin-right: 3rem !important;
    }

    blockquote {
        padding: .3rem 0 .3rem 1.5rem;
    }

}

/* S */
@media only screen and (max-width: 600px) {

    main.responsive,
    .pankuz {
        padding-block-start: 5rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 100%;
    }

    .tooltip.max {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -100%);
        max-width: 90vw;
    }
}

/* M */
@media only screen and (min-width: 601px) and (max-width: 992px) {

    main.responsive,
    .pankuz p {
        padding-inline-start: 5rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 75vw;
    }

    .h2-wrapp,
    .h3-wrapp {
        padding: 1rem 5rem 0;
    }
}

/* L */
@media only screen and (min-width: 993px) {

    main.responsive,
    .pankuz p {
        padding-inline-start: 6rem;
    }

    .zukai,
    .boya-zukai {
        inline-size: 80%;
    }

    .h1-wrapp {
        aspect-ratio: 8 / 1;
        background-size: contain;
    }

    .h2-wrapp {
        padding: 4rem 5rem 0;
    }

    .h3-wrapp {
        padding: 2rem 5rem 0;
    }
}