         blockquote p {
             margin: 1rem .5rem 1rem 0;
         }

         .s1.m1.l1 img {
             filter: invert(1);
             left: -3px;
             inline-size: 16px;
             block-size: 16px;
         }

         button.responsive.large {
             margin-bottom: 5px;
         }

         .yugo-navi p {
             margin: 0.8rem 1rem 0.8rem;
         }

         .yugo-navi .btn {
             display: inline-block;
             margin: .1rem;
             padding: .25rem .75rem;
             color: #fff;
             font-weight: 700 !important;
             text-align: center;
             text-decoration: none;
             border: 1px solid transparent;
             border-radius: .25rem;
             cursor: pointer;
         }

         .yugo-navi .btn:hover {
             filter: brightness(0.8);
             color: #fff;
         }

         .col-a,
         .col-c,
         .col-j,
         .col-m,
         .col-p,
         .col-v,
         .col-s {
             border-radius: 10%;
             padding: 2px;
             margin: 0 3px;
         }

         .col-v {
             background-color: #a83838;
         }

         .col-j {
             background-color: #5390a0;
         }

         .col-p {
             background-color: #2c943d;
         }

         .col-m {
             background-color: #a65c2b;
         }

         .col-c {
             background-color: #807921
         }

         .col-a {
             background-color: #82559b;
         }

         .col-s {
             background-color: #6f6f6f;
         }

         .lbd-v {
             border-left: 5px solid #a83838;
         }

         .lbd-j {
             border-left: 5px solid #5390a0;
         }

         .lbd-p {
             border-left: 5px solid #37a149;
         }

         .lbd-m {
             border-left: 5px solid #a65c2b;
         }

         .lbd-c {
             border-left: 5px solid #d7d86e;
         }

         .lbd-a {
             border-left: 5px solid #82559b;
         }

         .lbd-s {
             border-left: 5px solid #fff;
         }