         /*-- btn --*/
         button.responsive.large {
             margin-bottom: 5px;
         }

         .yugo-navi p {
             margin: 0.8rem 1rem 0.8rem;
         }

         .yugo-navi .btn {
             display: inline-block;
             margin: .1rem;
             padding: .25rem .75rem;
             color: #fff;
             font-weight: 700 !important;
             text-align: center;
             text-decoration: none;
             border: 1px solid transparent;
             border-radius: .25rem;
             cursor: pointer;
         }

         .yugo-navi .btn:hover {
             filter: brightness(0.8);
             color: #fff;
         }

         /*-- details --*/
         blockquote p {
             margin: 1rem .5rem 1rem 0;
         }

         .ship-day-sub {
             font-size: 1rem;
             font-weight: 500;
         }

         .subject {
             display: inline;
             font-size: clamp(.65rem, calc(.7rem + 1vw), 1.1rem);
             max-height: 2lh;
             overflow: hidden;
         }

         .sender,
         .ship-day {
             font-size: var(--size-13px);
             overflow: hidden;
             margin: auto 0;
         }

         .sender {
             font-weight: 500;
         }

         .big-bd {
             border-radius: .2rem;
             border: 2px solid #ffffff75;
         }


         /*-- colors --*/
         .member-icons {
             max-inline-size: 80%;
             border: 1px solid #ffffff75;
             border-radius: .2rem;
             padding: .5rem;
         }

         .lbd-v {
             border-left: 5px solid hsl(0, 100%, 61%);
         }

         .lbd-j {
             border-left: 5px solid hsl(192, 100%, 71%);
         }

         .lbd-p {
             border-left: 5px solid hsl(130, 100%, 60%);
         }

         .lbd-m {
             border-left: 5px solid hsl(27, 100%, 55%)
         }

         .lbd-c {
             border-left: 5px solid hsl(61, 100%, 69%);
         }

         .lbd-a {
             border-left: 5px solid hsl(279, 100%, 62%);
         }

         .lbd-s {
             border-left: 5px solid #fff;
         }